<div class="page">
     <div class="headerMobile">
          <div class="logo">
               <a href="superAdmin-coach.html"><img src="assets/images/fitbeat-logo.svg" alt="FitBeat" width="auto" height="50"></a>
          </div>
          <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" class="mobileMenuBtn"><img src="assets/images/mobile-menu-icon.svg" alt="" class=""></a>
     </div>
     <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
       sidebar mobile
     </div>
     <div class="container-fluid p-0 pageContainer">
          <div class="row g-0 h-100">
               <aside class="col-md-2 leftSidebar sidebarWeb">
                    <app-sidenav></app-sidenav>
               </aside>
               <section class="col-md-10 page-content">
                    <app-header></app-header>
                    <div class="row">
                        <div class="col-md-9">
                            <h2>Coming Soon...</h2>
                            <div class="coach-content main-content-area active" data-maincontentarea="coach">
                                    <div class="content-area-wrap profile-details addaplan">
                                        <p>We're working on it! Please visit this page later.</p>
                                    </div>
                                </div>
                        </div>
                    </div>
               </section>
            </div>
        </div>
</div>
