<aside class="sidebar static">
  <div class="widget">
      <h4 class="widget-title">Shortcuts</h4>
      <ul class="naves">
          <li>
              <i class="ti-clipboard"></i>
              <a href="newsfeed.html" title="">News feed</a>
          </li>
          <li>
              <i class="ti-mouse-alt"></i>
              <a href="inbox.html" title="">Inbox</a>
          </li>
          <li>
              <i class="ti-files"></i>
              <a href="fav-page.html" title="">My pages</a>
          </li>
          <li>
              <i class="ti-user"></i>
              <a href="timeline-friends.html" title="">friends</a>
          </li>
          <li>
              <i class="ti-image"></i>
              <a href="timeline-photos.html" title="">images</a>
          </li>
          <li>
              <i class="ti-video-camera"></i>
              <a href="timeline-videos.html" title="">videos</a>
          </li>
          <li>
              <i class="ti-comments-smiley"></i>
              <a href="messages.html" title="">Messages</a>
          </li>
          <li>
              <i class="ti-bell"></i>
              <a href="notifications.html" title="">Notifications</a>
          </li>
          <li>
              <i class="ti-share"></i>
              <a href="people-nearby.html" title="">People Nearby</a>
          </li>
          <li>
              <i class="fa fa-bar-chart-o"></i>
              <a href="insights.html" title="">insights</a>
          </li>
          <li>
              <i class="ti-power-off"></i>
              <a href="landing.html" title="">Logout</a>
          </li>
      </ul>
  </div><!-- Shortcuts -->
  <div class="widget">
      <h4 class="widget-title">Recent Activity</h4>
      <ul class="activitiez">
          <li>
              <div class="activity-meta">
                  <i>10 hours Ago</i>
                  <span><a href="#" title="">Commented on Video posted </a></span>
                  <h6>by <a href="time-line.html">black demon.</a></h6>
              </div>
          </li>
          <li>
              <div class="activity-meta">
                  <i>30 Days Ago</i>
                  <span><a href="#" title="">Posted your status. “Hello guys, how are you?”</a></span>
              </div>
          </li>
          <li>
              <div class="activity-meta">
                  <i>2 Years Ago</i>
                  <span><a href="#" title="">Share a video on her timeline.</a></span>
                  <h6>"<a href="#">you are so funny mr.been.</a>"</h6>
              </div>
          </li>
      </ul>
  </div><!-- recent activites -->
  <div class="widget stick-widget">
      <h4 class="widget-title">Who's follownig</h4>
      <ul class="followers">
          <li>
              <figure><img src="./assets/images/resources/friend-avatar2.jpg" alt=""></figure>
              <div class="friend-meta">
                  <h4><a href="time-line.html" title="">Kelly Bill</a></h4>
                  <a href="#" title="" class="underline">Add Friend</a>
              </div>
          </li>
          <li>
              <figure><img src="./assets/images/resources/friend-avatar4.jpg" alt=""></figure>
              <div class="friend-meta">
                  <h4><a href="time-line.html" title="">Issabel</a></h4>
                  <a href="#" title="" class="underline">Add Friend</a>
              </div>
          </li>
          <li>
              <figure><img src="./assets/images/resources/friend-avatar6.jpg" alt=""></figure>
              <div class="friend-meta">
                  <h4><a href="time-line.html" title="">Andrew</a></h4>
                  <a href="#" title="" class="underline">Add Friend</a>
              </div>
          </li>
          <li>
              <figure><img src="./assets/images/resources/friend-avatar8.jpg" alt=""></figure>
              <div class="friend-meta">
                  <h4><a href="time-line.html" title="">Sophia</a></h4>
                  <a href="#" title="" class="underline">Add Friend</a>
              </div>
          </li>
          <li>
              <figure><img src="./assets/images/resources/friend-avatar3.jpg" alt=""></figure>
              <div class="friend-meta">
                  <h4><a href="time-line.html" title="">Allen</a></h4>
                  <a href="#" title="" class="underline">Add Friend</a>
              </div>
          </li>
      </ul>
  </div><!-- who's following -->
</aside>