<header class="header">
     <div class="row">
          <div class="col-md-9">
               <div class="search-block-wrap">
                  <div class="search-block">
                       <img src="assets/images//search-icon.svg" alt="search" width="" height="18" class="search-icon icon p-4">
                       <input (keydown)="onSearch($event)" type="text" name="search" id="search" placeholder="Search Coach..." class="search">
                       <img (click)="onFilterClick()" src="assets/images//filter-icon.svg" alt="filter" width="" height="18" class="filter-icon icon p-4">
                  </div>
             </div>
          </div>
          <div class="col-md-3">
               <div class="header-right">
                  <!-- <div class="notifications-block">
                        <div class="count">99</div>
                        <img src="assets/images//notification_icon.svg" alt="notification" width="33" height="38" height="auto" class="notification icon">
                  </div> -->
                  <!-- <div class="separator"></div> -->
                  <div class="profile-block" (click)="showOptions()">
                       <div class="profile-options " *ngIf="isShow">
                            <a class="dd-item" routerLink="/profile">Profile Details</a>
                            <a class="dd-item" href="/">Logout</a>
                            <div class="arrow-tip"></div>
                       </div>
                  </div>
             </div>
          </div>
     </div>
</header>
