<div class="pageLogin">
    <div class="container-fluid">
      <div class="row g-0 align-items-center loginpageRow">
        <div class="col-md-6 col-sm-12 col-xs-12" id="loginImg">
            <div class="logo">
                 <a href="superAdmin-coach.html"><img src="assets/images/fitbeat-logo.svg" alt="FitBeat" width="auto" height="50"></a>
            </div>
            <img src="assets/images/login-screen-img@2x.png" alt="" class="d-none d-sm-block">
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12" id="login_card">
          <div class="card" id="login_cardInner">
              <div class="row g-0 align-items-center justify-content-center loginpageRow">
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <!--RESET PASSWORD_STARTS HERE-->
                    <div class="resetForm" style="display: block;">
                         <form>
                            <h2><img (click)="goBack()" src="assets/images/arrow-backward.svg" alt="back" width="34" height="26" class="back-arrow "> Reset Password</h2>
                            <p class="form_text">Enter your Email-ID associated with your account to reset your password.</p>
                            <div class="loginForm">
                            <div class="form-group">
                              <input type="email" name="email" id="email" class="input form-control" [(ngModel)]="email">
                              <label for="email" class="label-text">Email ID</label>
                          </div>
                        </div>

                            <button (click)="doClick()" class="btn-login">Submit</button>
                       </form>
                    </div>
                        <!--RESET PASSWORD_ENDS HERE-->
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
