// html,body{padding: 0;margin: 0}
// *{font-size:14px;font-family:'Poppins';box-sizing:border-box;}
// body{background-color: #025074}
a{text-decoration:none;}

.main{height: 100vh;align-items: center;justify-content: space-around;padding: 24px;display: flex;background-color: #025074;}
.loginform-wrap{width: 800px;height:94vh;background-color: #FAFCFD;border-radius: 24px;display: flex;align-items: center;justify-content: center;flex-direction: column;position:relative;}
.logo-wrap{position: absolute; top: 25px; left: 52px;}

form{
	display: flex;
    flex-direction: column;
    width: 100%;
}
.form-group, button{display: flex;flex-direction:column;width:100%;height:68px;margin:0 auto 26px;position:relative; }
button{color: #FAFCFD;font-size: 20px;background-color: #7EACC1;border: 1px solid #7EACC1;border-radius:6px;display: flex;justify-content: center;align-items:center;}
button:hover{background-color: #025074;}

.createnewpwd-wrap button{margin-top: 50px;}.resetpwd-wrap button{margin-top: 10px}
.createnewpwd-wrap .loginform-title{margin-bottom: 68px;}.resetpwd-wrap .loginform-title{margin-bottom: 80px;}
.form-group .label-text, .form-group .error-msg{position:absolute;}
.form-group .label-text{
	display: none !important;
			color: #A1BCC8;font-size:20px;height: 100%;align-items:center;display:flex;left: 20px;
			background-color: #e4ecef;border: 1px solid #e4ecef;transition: all 0.26s;
}

.form-group.float .label-text{    
		top: -12px; line-height: normal; border-color: #7eacc1;
    height: 35%; font-size: 14px; padding: 1px 8px; border-radius: 4px;
  }

.form-group .error-msg{color: #EF2E2E;font-size:16px;bottom: -22px; left: 22px;}
.form-group .input{color: #025074;font-size: 20px;padding: 20px;height: 100%;background-color: #E4ECEF;border-radius:6px;border: 1px solid #E4ECEF}

/* The container */
.container {
  color: #6D7274;font-size:20px;display: block;position: relative;padding-left: 47px;margin-bottom: 0;cursor: pointer;
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

/* Hide the browser's default checkbox */
.container input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}

/* Create a custom checkbox */
.checkmark {position: absolute;top: 0;left: 0;bottom: 0;margin: auto;height: 36px;width: 36px;background-color: #fff;border: 1px solid #8799A0;border-radius:5px;}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {background-color: #7EACC1;}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {background-color: #025074;border: 1px solid #025074;border-radius:5px;}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {content: ""; position: absolute;display: none;}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {display: block;}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 12px;top: 4px;width: 11px;height: 20px;border: solid #ffffff;border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);
}

.form-options{justify-content: space-between;margin:30px 0;display: flex;}
.reset-pwd{color: #025074;font-size:20px;}

.loginform-title{color: #050707;font-size: 40px;font-weight: 600;margin-bottom: 108px;}

.eye-line{position: absolute; top: 0; bottom: 0; right: 20px; margin: auto; padding: 12px; box-sizing: content-box; cursor: pointer;}

.password-reset-msg{width: auto;height: auto;background: #FFFFFF 0% 0% no-repeat padding-box;box-shadow: 0px 0px 10px #0B687D29;border-radius: 8px;padding:0 24px 16px;position: absolute;top: 0;right: 0}
.password-reset-msg .msg-block .lineone{color:#111313;font-size:18px;font-weight:bold;text-align:left;    margin-left: -23px;}
.password-reset-msg .msg-block .lineone .checkmark-green{margin-right: -20px;}
.password-reset-msg .msg-block .linetwo{color: #777C7E;font-size:14px;margin-top: -16px;}

.loginform-title{position:relative;}
.createnewpwd-wrap, .resetpwd-wrap{display: none}
.createnewpwd-wrap .loginform-title .text-title, .resetpwd-wrap .loginform-title .text-title{color:#6D7274;font-size:18px;font-weight:normal;}.loginform-title .email-format{color:#025074;font-size:18px;font-weight:600;}
.createnewpwd-wrap .loginform-title .back-arrow, .resetpwd-wrap .loginform-title .back-arrow{
		position: absolute; left: -75px; top: 6px; padding: 12px;display: flex;box-sizing: content-box;background-color: #fff;border-radius: 12px 0 0 12px;cursor: pointer
	}

.otpverification-wrap .loginform-subtitle{font-size:20px;font-weight:normal;margin-bottom: 8px}
.otpverification-wrap .otpinput-wrap{flex-direction: row;height: auto}
.otpverification-wrap .otpcode{
		text-align: center;width: 64px;height: 68px;background-color: #FAFCFD;border: 1px solid #8799A0;margin: 0 8px 0 0;outline: none;
}
.otpverification-wrap .error{color: #EF2E2E;font-size:16px;    margin-top: 8px;}
.otpverification-wrap .form-options{color: #6D7274;font-size:20px;justify-content:flex-start;width: 100%;margin: auto 0;}
.otpverification-wrap .form-options .resend-otp{color: #025074;font-weight: bold;padding-left: 32px;display: flex;}
.otpverification-wrap .loginform-title .back-arrow, .resetpwd-wrap .loginform-title .back-arrow{left: -67px}

@media screen and (min-width: 1201px) and (max-width: 1366px){
		.login-img {  width: 640px; }
}
@media screen and (max-width: 1200px){
	.createnewpwd-wrap .loginform-title .text-title, .createnewpwd-wrap .loginform-title .email-format,
	.resetpwd-wrap .loginform-title .text-title, .resetpwd-wrap .loginform-title .email-format{font-size: 12px;}
	/*.createnewpwd-wrap .loginform-title{margin-bottom: 18px;}*/
	.createnewpwd-wrap button, .resestpwd-wrap button{margin-top:30px;}.resetpwd-wrap button{margin-top:0px}.resetpwd-wrap .loginform-title{margin-bottom: 50px}
	.createnewpwd-wrap .loginform-title .back-arrow, .resetpwd-wrap .loginform-title .back-arrow{top: -1px}
}
@media screen and (min-width: 1025px) and (max-width: 1200px){
		

    .form-group, button { width: 100%; height: 58px; margin: 0 auto 26px;	}
    .form-options {
    	justify-content: flex-end;  margin-top: 20px;  margin-bottom: 20px;  flex-direction: column;  align-items: flex-end;
		}
		.form-options .container, .form-options .reset-pwd{font-size: 16px;}
		.form-options .container{ padding-left: 37px; margin-bottom: 12px; padding-right: 0;}
		.form-options .checkmark{width: 24px;height: 24px;}
		.container .checkmark:after{left: 7px;top: 2px;width: 8px;height: 15px;}

		.eye-line{right: 0}
		.form-group .input{padding:20px 15px;}.form-group .label-text{left: 15px}

		.password-reset-msg{top: -100px; right: 30px; left: 30px;}

}

@media screen and (max-width: 1024px){
	
	.logo-wrap{text-align: center; left: 0; right: 0; margin: auto; }
	.main{width: 100%;height: auto;flex-direction:column;align-items: flex-start;justify-content: flex-start;}
	.login-img{width: 350px;height: auto;position: absolute;left: 0;right: 0;margin: auto;top: 82px;}
	.loginform-wrap{width: 100%;max-width: 310px;height: auto;position: relative;margin: 240px auto auto; justify-content: flex-start;}
	.form-group, button{width: 100%}
	.form-group .input{font-size:16px;}
	.loginform-title{font-size: 20px;text-align: center;margin-bottom: 22px;margin-top: 22px;}
	.form-group, button{height: 48px;margin: 0 auto 16px;}
	.form-group .label-text{font-size: 14px;}
	.form-options{margin: 20px auto;flex-direction: column;width: 90%; align-items: flex-end; justify-content: center;}
	.form-options .rememberme .container{font-size: 16px;padding-left: 22px;padding-right: 0}
	.checkmark{border-radius:3px;}
	.container input:checked ~ .checkmark{border-radius: 3px;}
	.container .checkmark:after{left: 4px; top: 1px; width: 6px; height: 10px;border-width: 0 2px 2px 0;}

	.form-options .reset-pwd{font-size: 16px;margin-top: 12px;}
	.btn-login{margin-bottom: 26px;}
	.createnewpwd-wrap .loginform-title{margin-bottom: 28px;}

	.checkmark{width: 16px;height: 16px;}
	.eye-line{width: 20px;height: auto;right: 0}

	.password-reset-msg{top: -120px;width: 90%;margin: auto;left: 0;}

	.createnewpwd-wrap .loginform-title .back-arrow, .resetpwd-wrap .loginform-title .back-arrow{top: -9px; width: 20px; left: -20px; background-color: transparent;}

	.otpverification-wrap .otpcode{padding: 12px;height: 60px;width: 54px;}
	.otpverification-wrap .form-options{font-size:18px;}
}

@media screen and (max-width: 767px){
    .pageLogin .card{
        margin: 30px 0 0 0;
    }
    .form-options{
		margin: 20px auto;
		flex-direction: row;
		width: 100%; 
		align-items: inherit; 
		justify-content: inherit;
		display: block;
		float: left;
	}
	.form-options .reset-pwd{
		margin-top: 0;
		float: right;
	}
	.rememberme{
		float: left;
	}
	.loginForm{
		padding: 0;
	}
	.btn-login{
		margin-bottom: 0;
	}
}

@media screen and (max-width: 360px){
	.loginform-wrap{margin-top: 190px}
	.form-group, button{height: 38px;margin: 0 auto 16px;}button{height: 42px}
	.form-options .rememberme .container, .form-options .reset-pwd{font-size: 14px;}
}


