<div class="theme-layout">
	<div class="container-fluid pdng0">
		<div class="row merged">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="land-featurearea">
					<div class="land-meta">
						<h1>Winku</h1>
						<p>
							Winku is free to use for as long as you want with two active projects.
						</p>
						<div class="friend-logo"> 
							<span><img src="../../../assets/images/wink.png" alt=""></span>
						</div>
						<a href="#" title="" class="folow-me"> Welcome Back :) </a>
					</div>	
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="login-reg-bg">
					<div class="log-reg-area sign">
						<h2 class="log-title">Login</h2>
							<p></p>
						<form >
							<div class="form-group">	
							  <input type="text" id="input" required="required"/>
							  <label class="control-label" for="input">Username</label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">	
							  <input type="password" required="required"/>
							  <label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
							</div>
							<div class="">
							  <label>
								<input type="checkbox" checked="checked"/><i class="check-box"></i>Always Remember Me.
							  </label>

                <a href="#" title="" class="forgot-pwd">Forgot Password?</a>
							</div>
							
							<div class="submit-btns">
								<button class="mtr-btn signin" type="button"><span>Login</span></button>
							</div>
						</form>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="pageLogin">
    <div class="container-fluid">
      <div class="row g-0 align-items-center loginpageRow">
        <div class="col-md-6 col-sm-12 col-xs-12" id="loginImg">
            <div class="logo">
                 <a href="superAdmin-coach.html"><img src="assets/images/fitbeat-logo.svg" alt="FitBeat" width="auto" height="50"></a>
            </div>
            <img src="assets/images/login-screen-img@2x.png" alt="" class="d-none d-sm-block">
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12" id="login_card">
          <div class="card" id="login_cardInner">
              <div class="row g-0 align-items-center justify-content-center loginpageRow">
                <div class="col-md-10 col-sm-12 col-xs-12">
                  <form>
                    <h2>Login</h2>
                      <div class="loginForm">
                          <div class="form-group">
                              <input type="email" name="email" id="email" class="input form-control" [(ngModel)]="userName"  required>
                              <label for="email" class="label-text">Email ID</label>
                          </div>
                          <div class="form-group">
                              <input [type]="isShowPassword ?  'text' : 'password'" name="password" id="password" [(ngModel)]="password" class="input form-control" required>
                              <label for="password" class="label-text">Password</label> 
                              <img  (click)="clickOnEye()" [src]="isShowPassword ? 'assets/images/eye-line.svg' : 'assets/images/eye-hide-line.svg'" alt="eyelinehide" width="27" height="27" class="eye-line pwd hidden">
                          </div>
                          <div class="form-options">
                              <div class="rememberme">
                                  <label class="container">Remember Me <input type="checkbox">
                                      <span class="checkmark"></span>
                                  </label>
                              </div>
                              <a routerLink="forgot" class="reset-pwd">Reset Password?</a>
                          </div>
                          <button (click)="doLogin()" class="btn-login">Login</button>
                        </div>
                    </form>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div> -->
<!-- <script type="text/javascript">
    $("#login_card").css("min-height", document.getElementById("loginImg").scrollHeight);
</script> -->

<!-- <main class="wrapper main" style="display: none;">
    <div class="logo-wrap">
         <a href="superAdmin-coach.html"><img src="assets/images/fitbeat-logo.svg" alt="FitBeat" width="auto" height="50"></a>
    </div>
    <img src="assets/images/login-screen-img@2x.png" alt="login-page-img" width="auto" height="100%" class="login-img">
    <div class="loginform-wrap default-login">
      <div class="password-reset-msg d-none">
           <div class="msg-block">
              <div class="lineone">
                   <img src="assets/images/checkmark-green.svg" alt="check" width="75" height="75" class="checkmark-green">
                   Password Reset
              </div>
              <div class="linetwo">Your password has been reset successfully.</div>
           </div>
      </div>
         <form>
             <div class="loginform-title">Login</div>
             <div class="form-group">
                 <input type="email" name="email" id="email" class="input" [(ngModel)]="userName"  required>
                 <label for="email" class="label-text">Email ID</label>
             </div>
             <div class="form-group">
                 <input [type]="isShowPassword ?  'text' : 'password'" name="password" id="password" [(ngModel)]="password" class="input" required>
          <label for="password" class="label-text">Password</label> 
                 <img  (click)="clickOnEye()" [src]="isShowPassword ? 'assets/images/eye-line.svg' : 'assets/images/eye-hide-line.svg'" alt="eyelinehide" width="27" height="27" class="eye-line pwd hidden">
             </div>
             <div class="form-options">
                 <div class="rememberme">
                     <label class="container">Remember Me
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                 </div>
                 <a routerLink="forgot" class="reset-pwd">Reset Password?</a>
             </div>
             <button (click)="doLogin()" class="btn-login">Login</button>
         </form>
    </div>
   
    <div class="loginform-wrap resetpwd-wrap">
         <form>
            <div class="loginform-title">
              <img src="assets/images/arrow-backward.svg" alt="back" width="34" height="26" class="back-arrow ">
              Reset Password
              <div class="text-title">Enter your Email-ID associated with your account to reset your password.</div>
            </div>
           
            <div class="form-group">
          <input type="email" name="email" id="email" class="input">
          <label for="email" class="label-text">Email ID</label>
        </div>

            <button class="btn-login">Submit</button>
       </form>
    </div>
    
    <div class="loginform-wrap createnewpwd-wrap">

         <form>
            <div class="loginform-title">
              <img src="assets/images/arrow-backward.svg" alt="back" width="34" height="26" class="back-arrow ">
              Create new Password
              <div class="text-title">You will receive an OTP on you registered Email-ID <span class="email-format">(Username456@gmail.com)</span> for Verification.</div>
            </div>
           
            <div class="form-group">
              <input type="password" name="newpassword" id="newpassword" class="input" required>
              <label for="newpassword" class="label-text">New Password</label>
              <img src="assets/images/eye-hide-line.svg" alt="eyelinehide" width="27" height="27" class="eye-line newpwd hidden">
            </div>
            <div class="form-group">
              <input type="password" name="confirmpassword" id="confirmpassword" class="input" required>
              <label for="confirmpassword" class="label-text">Confirm Password</label>
              <img src="assets/images/eye-hide-line.svg" alt="eyelinehide" width="27" height="27" class="eye-line cnfpwd hidden">
            </div>
            
            <button class="btn-login">Submit</button>
       </form>
    </div>

</main> -->