
<div class="page">
     <div class="headerMobile">
          <div class="logo">
               <a href="superAdmin-coach.html"><img src="assets/images/fitbeat-logo.svg" alt="FitBeat" width="auto" height="50"></a>
          </div>
          <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" class="mobileMenuBtn"><img src="assets/images/mobile-menu-icon.svg" alt="" class=""></a>
     </div>
     <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
       sidebar mobile
     </div>

     <div class="container-fluid p-0 pageContainer">
          <div class="row g-0 h-100">
               <aside class="col-md-2 leftSidebar sidebarWeb">
                    <app-sidenav></app-sidenav>
               </aside>
               <section class="col-md-10 page-content">
                    <app-header (openFilter)="openFilter()" (onSearchFn)="onSearchFn"></app-header>
                    <div class="row">
                         <div class="col-md-9">
                              <h2>Coach <span class=" title count">({{totalUsers}})</span></h2>
                              <div class="card">
                                   <div class="category-tabs-wrap">
                                        <div class="category-tabs">
                                             <div *ngFor="let c of Categeories;let i = index;"
                                                  [ngClass]="selectedCat == c.fitness_category_id ? 'active' : ''"
                                                  (click)="catClick(c);" id="nutritiontraining" class="tab-item ">
                                                  {{c.title}}</div>
                                        </div>
                                        <div class="tab-nav-arrows">
                                             <div class="arrows-wrap left-nav">
                                                  <img src="assets/images//left-arrow-white.svg" alt="<" width="19"
                                                       height="19" class="arrow-icon inactive">
                                                  <img src="assets/images//left-arrow-dark.svg" alt="<" width="19"
                                                       height="19" class="arrow-icon active">
                                             </div>
                                             <div class="arrows-wrap right-nav" (click)="scroll('nutritiontraining')">
                                                  <img src="assets/images//right-arrow-white.svg" alt="<" width="19"
                                                       height="19" class="arrow-icon inactive">
                                                  <img src="assets/images//right-arrow-dark.svg" alt="<" width="19"
                                                       height="19" class="arrow-icon active">
                                             </div>
                                        </div>
                                   </div>
                                   <div class="custom_scroll">
                                        <!--Coach - Nutrition&Training starts here-->
                                        <div data-content="nutritiontraining" class="coach-blocks-wrap nutritiontraining">
                                             <div class="center" *ngIf="isUserListLoading">
                                                  <p-progressSpinner></p-progressSpinner>
                                             </div> 
                                             <div *ngIf="enrollUserList.length === 0  && !isUserListLoading" class="text-center"><p>No Data</p></div>
                                             <div class="row g-0 m-0 blocks_row">
                                                  <div *ngFor="let c of enrollUserList;let i = index;" class="col-md-4">
                                                       <div class="coach-block"
                                                            style="cursor: pointer;" (click)="goToDetails(c)">
                                                            <div class="coach-profile-wrap">
                                                                 <div class="coach-profile">
                                                                      <div *ngIf="c.is_active ===1" class="coach-status available"></div>
                                                                      <div *ngIf="c.is_active ===0" class="coach-status notavailable"></div>
                                                                      <img src="{{c.profile_url || 'assets/images/sample-user-pic.jpg'}}"
                                                                           alt="coach" width="80" height="80" class="coach-pic">
                                                                 </div>
                                                                 <div class="right-block">
                                                                      <div class="state" *ngIf="c.is_active ===1">Active</div>
                                                                      <div class="state" *ngIf="c.is_active ===0">Inactive</div>
                                                                      <div class="date">{{c.create_datetime | date: 'dd/MM/yyyy' }}</div>
                                                                 </div>
                                                            </div>

                                                            <div class="names-block">
                                                                 <div class="coach-name">{{c.full_name}}</div>
                                                                 <div class="category">{{getCatName(c)}}</div>
                                                            </div>

                                                            <div class="expertlevel-block">
                                                                 <div class="expertlevel-btn basic">Basic</div>
                                                                 <div class="expertlevel-text">{{c.total_paid}} Kr</div>
                                                            </div>

                                                            <div class="details-block">
                                                                 <div class="details-sect rating">
                                                                      <div class="text"><img src="assets/images//rating-star.svg" alt="Star"
                                                                                width="20" height="20" class="star-icon">{{c.rating}}</div>
                                                                      <div class="caption">Rating</div>
                                                                 </div>
                                                                 <div class="separator"></div>
                                                                 <div class="details-sect trained">
                                                                      <div class="text">{{c.trained}}</div>
                                                                      <div class="caption">Trained</div>
                                                                 </div>
                                                                 <div class="separator"></div>
                                                                 <div class="details-sect slots">
                                                                      <div class="text">
                                                                           <div class="slot-level">
                                                                                <div class="level"></div>
                                                                           </div>
                                                                           {{c.avail_slots}}
                                                                      </div>
                                                                      <div class="caption">Avl.Slots</div>
                                                                 </div>
                                                            </div>
                                                       </div>
                                                  </div>
                                             </div>

                                        </div>
                                        <!--Coach - Nutrition&Training ends here-->
                                   </div>
                              </div>
                         </div>
                         <div class="col-md-3 rightSidebar">
                              <h2>Requests <span class="title count ps-0">({{requests}})</span></h2>
                              <div class="card">
                                   <div class="custom_scroll">
                                        <div class="requests-area">
                                             <div class="center" *ngIf="isPendUserListLoading">
                                                  <p-progressSpinner></p-progressSpinner>
                                             </div>
                                             <div *ngIf="requestsList.length === 0  && !isPendUserListLoading" class="text-center"><p>No Data</p></div>
                                             <div class="coach-block" *ngFor="let c of requestsList;let i = index;" style="cursor: pointer;">
                                                  <div class="coach-profile-wrap">
                                                       <div class="coach-profile">
                                                            <img src="{{c.profile_url || 'assets/images/sample-user-pic.jpg'}}" alt="coach" width="66"
                                                                 height="66" class="coach-pic">
                                                       </div>
                                                       <div class="names-block"  (click)="goToDetails1(c)">
                                                            <div class="coach-name">{{c.full_name}}</div>
                                                            <div class="date">{{c.create_datetime | date: 'dd/MM/yyyy'}}</div>
                                                            <div class="category">{{getCatName(c)}}</div>
                                                            <!-- </div>
                                                       <div class="right-block"> -->

                                                       </div>
                                                  </div>
                                                  <div class="expertlevel-block">
                                                       <div (click)="coachstatus(c.user_id,'1')" class="expertlevel-btn decline">
                                                            Decline</div>
                                                       <div (click)="coachstatus(c.user_id,'2')" class="expertlevel-btn approve">
                                                            Approve</div>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </section>
          </div>
     </div>

     <div class="sidebarWeb" style="display: none;">
          <app-sidenav></app-sidenav>
     </div>
</div>


<p-dialog [(visible)]="display" appendTo="body" maskStyleClass="maskStyleClass" [dismissableMask]="true">
     <div class="">
          <div class="">
               <div class="content-area-wrap profile-details reset-password-block coach-filters-block">
                    <div class="content-area">
                         <div class="title_popuop">
                              <h2>Filters</h2>
                         </div>
                         <div class="filters-wrap">
                              <div class="filter-row">
                                   <div class="title">Rating</div>
                                   <div class="filter-content d-flex">
                                        <p-rating [(ngModel)]="ratingVal"  [cancel]="false"></p-rating>
                                   </div>
                              </div>
                              <div class="filter-row">
                                   <div class="title">Gender</div>
                                   <div class="filter-content d-flex">
                                        <button *ngFor="let g of genders;let i = index;"
                                             [ngClass]="g.isSelected ? 'active' : ''" (click)="filterClick('G',i)"
                                             class="filter-btn">{{g.name}}</button>
                                   </div>
                              </div>
                              <div class="filter-row">
                                   <div class="title">Levels</div>
                                   <div class="filter-content d-flex">
                                        <button *ngFor="let l of levels;;let i = index;"
                                             [ngClass]="l.isSelected ? 'active' : ''" (click)="filterClick('L',i)"
                                             class="filter-btn">{{l.name}}</button>

                                   </div>
                              </div>
                              <div class="filter-row">
                                   <div class="title">Language</div>
                                   <div class="filter-content d-flex">
                                        <button *ngFor="let l of languages;;let i = index;"
                                             [ngClass]="l.isSelected ? 'active' : ''" (click)="filterClick('LG',i)"
                                             class="filter-btn">{{l['title']}}</button>

                                   </div>
                              </div>
                              <div class="btns-wrap d-flex">
                                   <button class="btn-clear border-0 me-1" (click)="display=false">Reset</button>
                                   <button class="btn btn-sm btn-primary"
                                        (click)="display=false;applyFilter()">Apply</button>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</p-dialog>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>